<%- include ("../partials/header")%>

<div>
	<div class="row">
		<div class="col">
			<div class="card p-2">
				<img class="card-img-top" src=" <%= campground.image %> " alt="<%= campground.name %>"> 
				<div class="card-body">
					<h4 class="float-sm-right">R<%= campground.price %>/night</h4>
					<h4 class="card-title"><a><%= campground.name %></a></h4>
					<p class="text-muted">
						Submitted by <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %>
					</p>
					<p class="card-text"><%= campground.description %></p>

					<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %> 
						<div class="dropdown">
							<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Actions
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

								<a class="dropdown-item" href="/campgrounds/<%= campground.slug%>/edit">Edit</a>
								<form class="delete-form" action="/campgrounds/<%= campground.slug %>?_method=DELETE" method="POST" >
									<button class="dropdown-item">Delete Form </button>
								</form>

							</div>
						</div>
					<% } %>
						
				</div>
			</div>
			<!-- Review -->
				<div class="row my-2">
					<div class="col-md-12">
						<div class="card">
							<div class="caption-full">
								<div class="container p-3">
									<% if(campground.reviews.length === 0){ %> 
										<h5><em>No reviews yet...</em></h5>
									<% } else { %>
										<p>
											<i class="fa fa-star checked" aria-hidden="true" checked></i>
											<i class="<% if(campground.rating > 1.5){ %> fa fa-star <% } else { %> fa fa-star-o <% } %>" aria-hidden="true"></i>
											<i class="<% if(campground.rating > 2.5){ %> fa fa-star <% } else { %> fa fa-star-o <% } %>" aria-hidden="true"></i>
											<i class="<% if(campground.rating > 3.5){ %> fa fa-star <% } else { %> fa fa-star-o <% } %>" aria-hidden="true"></i>
											<i class="<% if(campground.rating > 4.5){ %> fa fa-star <% } else { %> fa fa-star-o <% } %>" aria-hidden="true"></i>
				
										<em>(Total reviews: <%= campground.reviews.length %>)</em>
										</p>
										<p>Current campground rating: <strong><%= campground.rating %></strong> </p>
										<h4 class="pt-2">All reviews for this campground: </h4>
										<hr style="margin-top: 0;">
										<% campground.reviews.forEach((review)=>{ %>
											<div class="row py-4 review-block">
												<div class="col-md-3 border-right-review">
													<%-'<i class="fa fa-star checked" aria-hidden="true"></i>'.repeat(review.rating) %><%-'<i class="fa fa-star-o" aria-hidden="true"></i>'.repeat(5-review.rating) %>
													<div>
														Review by: <a href="/users/<%= review.author.id %>"><strong><%= review.author.username %></strong></a>
													</div>
													<span style="font-size: 0.75em;"><em><%= review.updatedAt.toDateString() %></em></span>
												</div>
												<div class="col-md-9">
													<p style="text-align: justify; word-wrap: break-word;">
														<%= review.text %>
													</p>
													<% if(currentUser && review.author.id.equals(currentUser._id)){ %>


														<div class="dropdown float-right">
															<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																Actions
															</button>
															<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								
																<a class="dropdown-item" href="/campgrounds/<%= campground.slug %>/reviews/<%= review._id%>/edit">Edit</a>
																<form id="delete-form" action="/campgrounds/<%= campground.slug %>/reviews/<%= review._id%>?_method=DELETE" method="POST" >
																	<button class="dropdown-item">Delete</button>
																</form>
								
															</div>
														</div>
													<% } %>
												</div>
											</div>
											<hr>
										<% }) %>
									<% } %>
								</div>
								
								<div>
									<a class="btn m-3 btn-primary <% if (currentUser && campground.reviews.some((review) => {return review.author.id.equals(currentUser._id)})) { %> d-none <% } %>" href="/campgrounds/<%= campground.slug %>/reviews/new">
										Write a New Review</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<!-- Review -->
		</div>
	</div>
</div>


<%- include ("../partials/footer") %>