<%- include ("../partials/header") %>

<h1 class="mt-5">Hey, <%= user.firstName %>. Are you sure you want to delete your profile?</h1>
<div class="row">
    <form action="/users/<%= user.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Yes, delete">
    </form>
</div>
<div class="row">
    <form action="/users/<%= user.id %>" method="GET">
        <input type="submit" value="No">
    </form>
</div>


<%- include ("../partials/footer") %>